#root {
  height: 100%; }

.productCont .rating {
  color: #757575; }

.productCont .productPrice {
  font-size: 20px; }

.productCont .card-title {
  font-size: 16px; }

.productCont .card {
  width: 18rem;
  margin: 40px;
  border-radius: 10px;
  padding: 20px;
  max-height: 400px; }

.productCont .card-body {
  padding: 0; }

.productInfoCont {
  display: flex;
  justify-content: center;
  padding: 50px; }
  .productInfoCont .card {
    padding: 0 30px; }
  .productInfoCont img {
    height: 300px;
    padding: 10px; }
  .productInfoCont .col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center; }

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 20px auto; }

body, html {
  background-color: lightblue;
  margin: 0;
  padding: 0;
  height: 100%; }

.buttonCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px; }

.link {
  background-color: lightblue; }

.btn {
  width: 40%; }

.title {
  width: 100%;
  background: white;
  padding: 20px;
  font-size: 40px;
  background-color: #03A9F4;
  text-align: center; }

.btn-primary {
  background-color: #03A9F4;
  color: #FFFFFF;
  border: none; }

.btn-secondary {
  background-color: #F8BBD0;
  border: none;
  color: #212121; }

#navbarNav {
  justify-content: flex-end; }

nav a {
  color: white; }

nav {
  background-color: #C2185B; }

.cont {
  height: 100%;
  margin-top: 100px; }

.subTitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px; }

.loginCont {
  text-align: center;
  border: 1px solid black;
  width: 30%;
  margin: auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  min-width: 300px; }
  .loginCont .inputCont {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex; }
    .loginCont .inputCont input {
      margin-bottom: 20px;
      border-radius: 5px; }

.search {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px; }
  .search input {
    border-radius: 5px; }
  .search button {
    width: 80px;
    background-color: #757575; }

.cartInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px; }
  .cartInfo div {
    padding: 12px; }

.addCart {
  color: #C2185B; }
  .addCart:hover {
    color: #F8BBD0; }
